# Python
*.py[cod]
__pycache__/
/*.ipynb
/*.pstats
/*.pkl
*.csv
*.so
*.egg-info/

# IDE
.idea/
.vscode/

# Logs
/logs/
/output/
*.out

*/.ipynb_checkpoints
*.png
*.ipynb
*.sh

multirun/
wandb/
.DS_Store

*.tex
*.sty
*.pdf
*.bib
*.bst
